.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    position: sticky;
    padding-top: 11px;
    float: left;
    margin-left: -25px;
}

.item{
    font-family: 'Source Sans Pro';
    color: #BDBDBD;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    transition: color .3s;

    &:hover{
        color: #fff;
    }
}