.slick-dots {
    & > li {
        margin: 0!important;
        &.slick-active {
            & > button {
                &::before {
                    color: gray!important;
                }
            }
        }
        & > button {
            &::before {
                color: white!important;
                opacity: 1!important;
                font-size: 8px!important;
            }
        }
    }
}