.title{
    font-family: 'Chakra Petch';
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: #fff;
    max-width: 880px;
    margin: 0 auto 30px;
}

.text{
    max-width: 880px;
    width: 100%;
    margin: 0 auto 20px;
    font-family: 'Chakra Petch';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}